<html>
    <head>
        <title>Class Roster</title>
    </head>

def roster(course):
roster = [("Jonella","B"), ("Dan","A"), ("Nicole","A"),("Kim","B-"),("Taylor","D")]
return render_template("index4.html", course=course, roster = roster)
  <body>
  <h1>Class Roster</h1>

  {% for %}
  {% if grade_view==1 %}
          <li>{{student_name}}: {{student_grade}}</li>
        then list only the student's name, and grade.
  {% if grade_view==2 %}
         <li>{{student_name}}: {{student_standing}}</li>
  {% if grade_view==0 %}
         <li>{{student_name}}: {{student_grade}}: {{student_course}}: {{student: id}}: {{student_info}}</li>
  <body>
<html>
